@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>You have no privacy. We already captured, manipulated and sold all your data to the dolphins. They will use it to save the Earth! We thank you for your service!</p>
</div>
